
body {
  justify-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
h1 {
  font-size: 36px;
  color: rgb(206, 206, 206);
}
h3 {
  color: rgb(169, 169, 169);
  font-weight: 1;
  font-size: 24px
}
h4 {
  color: rgb(172, 172, 172);
  font-weight: 1;
  font-size: 16px;
  margin-bottom: 2px;
}
tbody {
  font-size: 20px;
  font-weight: normal;
}
p {
  font-weight: normal;
  font-size: 18px;
  color: rgb(206, 206, 206);
}
textarea {
  resize: none;
}
table {
  border-style: solid;
  border-color: black;
  border-radius: 1px;
  flex: content;
  justify-items: center;
  text-align: center;
  color: rgb(206, 206, 206);
}
td {
  height: 39px;
}
button {
  background-color: rgb(51, 51, 51);
}
.selectors {
  border-style: none;
  flex: content;
}
.word {
  font-weight:bolder;
  width: 150px;
  height: 39px;
  color: rgb(206, 206, 206);
  font-size: 16px;
}

.meaning {
  font-weight:lighter;
  width: 700px;
  height: 39px;
  color: rgb(206, 206, 206);
  font-size: 16px;
}

@media (max-aspect-ratio: 3/4) {
  .meaning {
    font-weight: bold;
    width: 100%;
    max-width: 700px;
    height: 39px;
    color: rgb(0, 206, 206);
    font-size: 16px;
    box-sizing: border-box;
  }
}





