body {
  justify-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
h1 {
  font-size: xx-large;
  color: rgb(206, 206, 206);
}
h3 {
  color: rgb(169, 169, 169);
  font-weight: 1;
}
tbody {
  font-size: 16px;
  font-weight: normal;
}
p {
  font-weight: normal;
  font-size: 20px;
  color: rgb(206, 206, 206);
}
textarea {
  resize: none;
}
table {
  border-style: solid;
  border-color: black;
  border-radius: 1px;
  flex: content;
  justify-items: center;
  text-align: center;
  color: rgb(206, 206, 206);
}
td {
  height: 26px;
}
button {
  background-color: rgb(51, 51, 51);
}
.selectors {
  border-style: none;
  flex: content;
}
.word {
  font-weight:bolder;
  width: 100px;
  height: 26px;
  color: rgb(206, 206, 206);
}
.meaning {
  font-weight:lighter;
  width: 650px;
  height: 26px;
  color: rgb(206, 206, 206);
}
